/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }

    header {
        border-right: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    header h1 {
        border: unset;
        margin-left: 15%;
        text-align: start;
        width: 100%;
    }

    header nav {
        flex-direction: row;
        justify-content: space-evenly;
    }

    /*Borde debajo del nav*/
    #borde-bot {
        background: linear-gradient(to right, rgb(32, 212, 86) 20%, rgb(0, 140, 255) 100%);
        display: block;
        height: 2px;
        width: 100%;
    }

    main {
        display: flex;
        justify-content: space-evenly;
    }

    .seccion {
        border: 1px solid black;
        border-radius: 5px;
        height: auto;
        padding: 40px;
        width: 40%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .descripcion {
        justify-content: flex-start;
    }

    .descripcion h2 {
        text-align: center;
        order: unset;
        width: 100%;
    }

    .descripcion #profilepic {
        order: unset;
        width: 20%;
    }

    #ftp {
        height: auto;
    }

    #ftp a img {
        display: block;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.37), 0 1px 2px rgba(0,0,0,0.37);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        width: 100%;
        -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        -moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        -ms-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    #ftp a img:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transform: translate(0, -15px);
        -webkit-transform: translate(0, -15px);
        -moz-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
        -o-transform: translate(0, -15px);
    }

    footer {
        padding-top: 20px;
        width: 100%;
    }

    footer div {
        margin-bottom: 20px;
    }

    .seccion {
        background-color: rgb(202, 220, 255);
    }

    .btn {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 200px;
    }

    .stars{
        margin: 0;
    }
}